{% extends 'storefront/base.html' %}
{% block title %} ¡Bienvenido! {% endblock title %}
{% block content %}

		<style>			
			/*Estilos especificos galeria*/
			.thumbnail{
				border-style: solid;
				border-width: 2px;
				border-color: grey;
			}
		</style>
		<!-- Galeria > ExploradorImagenes -->
        <h1>Galeria:</h1>

        <div id="galeria" class="row">
            <div id="test" class="row">
                <img id="Image1" image_large="../../static/img/ImagenesPrueba/1024_768_3.jpg" onclick="previewImage(event);" src="../../static/img/ImagenesPrueba/240_180_1.jpg" alt="Image1-Title-" class="col-sm-4 thumbnail imagen">

                <img id="Image2" image_large="../../static/img/ImagenesPrueba/1024_768_2.jpg" onclick="previewImage(event);" src="../../static/img/ImagenesPrueba/240_180_2.jpg" alt="Image2-Title-" class="col-sm-4 thumbnail imagen">

                <img id="Image3" image_large="../../static/img/ImagenesPrueba/1024_768_1.jpg" onclick="previewImage(event);" src="../../static/img/ImagenesPrueba/240_180_3.jpg" alt="Image3-Title-" class="col-sm-4 thumbnail imagen">

		    </div>
		</div>
        <button type="button" onclick="loadMoreImages();" class="col-lg-5 btn-primary">Cargar mas...</button>

        <!-- Image dialog -->
        <div id="myModal" class="row modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" >×</button>
                <h3 id="myModalLabel">Imagen</h3>
            </div>
            <div class="modal-body col-lg-12">

               <div id="modalCarousel" class="carousel">
                  <div class="carousel-inner">
                      <img id="carouselimage" current_image="" src="" alt="Pulpit Rock" class="img-responsive center-block">
                  </div>
                  <a id="image_show_prev" class="carousel-control left" href="#modaCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                  <a id="image_show_next" class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
{% endblock content %}

{% block scriptimport %}
    <script src="{{ STATIC_URL }}js/home.js" ></script>
    <script src="{{ STATIC_URL }}js/gallerycontroller.js" ></script>
{% endblock scriptimport %}