{% extends 'storefront/base.html' %}
{% block title %} ¡Bienvenido! {% endblock title %}
{% block content %}

    <div id="main-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{{ STATIC_URL }}img/home_image_1.jpg" width="100%" height="250px">
          <div class="carousel-caption">
            Descripción de la imagen
          </div>
        </div>
        <div class="item">
          <img src="{{ STATIC_URL }}img/home_image_1.jpg" width="400px" height="486px">
          <div class="carousel-caption">
              Another image description
          </div>
        </div>
        <div class="item">
          <img src="{{ STATIC_URL }}img/home_image_1.jpg" width="400px" height="486px">
          <div class="carousel-caption">
              Yet, another image description
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>

    <div class="row marketing">
        <div class="col-lg-5 ad-like-message">
            <h1>Algún mensaje de promoción</h1>
            <p>02/15/2015 @ 10:00 am</p>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-5 ad-like-message globe">
            <h1>Some other message for customers</h1>
            <p>05/05/2015 @ 14:00 hrs.</p>
        </div>
    </div>
{% endblock content %}

{% block scriptimport %}
    <script src="{{ STATIC_URL }}js/home.js" ></script>
{% endblock scriptimport %}