{% extends 'storefront/base.html' %}
{% block title %} Nosotros {% endblock title %}
{% block anyheadimport %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nosotros.css"/>
{% endblock anyheadimport %}
    {% block content %}



		<!-- Ficha "Nosotros" -->	
		<div class="row Ficha">
			<!-- Grupo1 -->
			<div class="col-lg-6">
				<h1 class="Ficha titulo">Titulo de la ficha</h1><!-- Ficha "Nosotros"> Titulo -->								
				<p class="Ficha descripcion">Descripcion de la ficha</p><!-- Ficha "Nosotros"> Descripcion -->
			</div>
			<!-- Grupo2 -->
			<div class="col-lg-6">
                    <div class="row">
					    <img src="http://www.smashingmagazine.com/images/pictures-photos/photos-26.jpg" class="img-responsive center-block Ficha imagen"><!-- Ficha "Nosotros"> Imagen -->
                    </div>
					<!-- Ficha "Nosotros"> Paginadores -->
                    <div class="row">
                        <div class="col-lg-4 Paginador" onclick="alert('mostrar contenido ficha');"><!-- Ficha "Nosotros"> Paginadores> Paginador "Mision"-->
                                <p class="titulo"><span>Mision</span></p><!-- Ficha "Nosotros"> Titulo -->
                        </div>
                        <div class="col-lg-4 Paginador" onclick="alert('mostrar contenido ficha');"><!-- Ficha "Nosotros"> Paginadores> Paginador "Vision"-->
                                <p class="titulo"><span>Vision</span></p><!-- Ficha "Nosotros"> Titulo -->
                        </div>
                        <div class="col-lg-4 Paginador" onclick="alert('mostrar contenido ficha');"><!-- Ficha "Nosotros"> Paginadores> Paginador "Filosofia"-->
                                <p class="titulo"><span>Filosofia</span></p><!-- Ficha "Nosotros"> Titulo -->
                        </div>
                    </div>
			</div>
		</div>

    {% endblock content %}
{% block scriptimport %}
{% endblock scriptimport %}