<!DOCTYPE html>
<html>
	<head>
		<title>Nosotros</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>  
		<!-- For styles in mobile (Bootstrap) -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>			
			/*Estilos estandar*/
			.Ficha .imagen{
				border-style: solid;
				border-width: 2px;
				border-color: blue;
			}
			/*Estilos especificos "Nosotros"*/
			.imagen_nosotros{
				content:url("http://www.smashingmagazine.com/images/pictures-photos/photos-26.jpg");				
			}
		</style>
	</head>
	<body>

		<!-- Ficha "Nosotros" -->	
		<div class="row Ficha">			
			<!-- Grupo1 -->
			<div class="col-sm-4">				
				<h1 class="Ficha titulo">Titulo de la ficha</h1><!-- Ficha "Nosotros"> Titulo -->								
				<p class="Ficha descripcion">Descripcion de la ficha</p><!-- Ficha "Nosotros"> Descripcion -->
			</div>
			<!-- Grupo2 -->
			<div class="col-sm-4">
					<img class="Ficha imagen imagen_nosotros"><!-- Ficha "Nosotros"> Imagen -->					
					<!-- Ficha "Nosotros"> Paginadores -->
					<div class="col-sm-3 Paginador"><!-- Ficha "Nosotros"> Paginadores> Paginador "Mision"-->
							<h1 class="Paginador titulo">Mision</h1><!-- Ficha "Nosotros"> Titulo -->								
							<p class="Paginador descripcion">Descripcion de la ficha.</p><!-- Ficha "Nosotros"> Descripcion -->
					</div>								
					<div class="col-sm-3 Paginador"><!-- Ficha "Nosotros"> Paginadores> Paginador "Vision"-->
							<h1 class="Paginador titulo">Vision</h1><!-- Ficha "Nosotros"> Titulo -->								
							<p class="Paginador descripcion">Descripcion de la ficha.</p><!-- Ficha "Nosotros"> Descripcion -->
					</div>								
					<div class="col-sm-3 Paginador"><!-- Ficha "Nosotros"> Paginadores> Paginador "Filosofia"-->
							<h1 class="Paginador titulo">Filosofia</h1><!-- Ficha "Nosotros"> Titulo -->								
							<p class="Paginador descripcion">Descripcion de la ficha.</p><!-- Ficha "Nosotros"> Descripcion -->
					</div>								
			</div>	
		</div>
	</body>
</html>