{% extends 'storefront/base.html' %}
{% block title %} ¡Bienvenido! {% endblock title %}
{% block content %}

<!-- Panel categorías -->
<div class="col-lg-4">
    <!-- Search input -->
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"> </span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <!-- Lista de categorias -->
    <div class="list-group">
        <a href="#" class="list-group-item active">
        Categoria 1
        </a>
        <a href="#" class="list-group-item">Categoria 2</a>
        <a href="#" class="list-group-item">Categoria 3</a>
        <a href="#" class="list-group-item">Categoria 4</a>
        <a href="#" class="list-group-item">Categoria 5</a>
    </div>
</div>
<!-- Panel productos -->
<div class="col-lg-8">
    <!-- Thumbnail -->
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="imagen" src="http://www.freephotoediting.com/samples/add-to-remove-from-group/images/054_pair-of-doves-flying-above-grasslands.jpg" alt="...">
          <div class="caption">
            <h3 style="word-wrap: break-word;">Producto1</h3>
            <p>En existencia: 5</p>
          </div>
        </div>
      </div>

    <!-- Thumbnail -->
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="imagen" src="http://www.freephotoediting.com/samples/add-to-remove-from-group/images/054_pair-of-doves-flying-above-grasslands.jpg" alt="...">
          <div class="caption">
            <h3 style="word-wrap: break-word;">Producto1</h3>
            <p>En existencia: 5</p>
          </div>
        </div>
      </div>

    <!-- Thumbnail -->
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="imagen" src="http://www.freephotoediting.com/samples/add-to-remove-from-group/images/054_pair-of-doves-flying-above-grasslands.jpg" alt="...">
          <div class="caption">
            <h3 style="word-wrap: break-word;">Producto1</h3>
            <p>En existencia: 5</p>
          </div>
        </div>
      </div>

    <!-- Thumbnail -->
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="imagen" src="http://www.freephotoediting.com/samples/add-to-remove-from-group/images/054_pair-of-doves-flying-above-grasslands.jpg" alt="...">
          <div class="caption">
            <h3 style="word-wrap: break-word;">Producto1</h3>
            <p>En existencia: 5</p>
          </div>
        </div>
      </div>

    <!-- Thumbnail -->
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="imagen" src="http://www.freephotoediting.com/samples/add-to-remove-from-group/images/054_pair-of-doves-flying-above-grasslands.jpg" alt="...">
          <div class="caption">
            <h3 style="word-wrap: break-word;">Producto1</h3>
            <p>En existencia: 5</p>
          </div>
        </div>
      </div>

    <!-- Thumbnail -->
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="imagen" src="http://www.freephotoediting.com/samples/add-to-remove-from-group/images/054_pair-of-doves-flying-above-grasslands.jpg" alt="...">
          <div class="caption">
            <h3 style="word-wrap: break-word;">Producto1</h3>
            <p>En existencia: 5</p>
          </div>
        </div>
      </div>

    <!-- Thumbnail -->
      <div class="col-sm-4">
        <div class="thumbnail">
          <img class="imagen" src="http://www.freephotoediting.com/samples/add-to-remove-from-group/images/054_pair-of-doves-flying-above-grasslands.jpg" alt="...">
          <div class="caption">
            <h3 style="word-wrap: break-word;">Producto1</h3>
            <p>En existencia: 5</p>
          </div>
        </div>
      </div>


</div>
{% endblock content %}
{% block scriptimport %}
{% endblock scriptimport %}