{% extends 'storefront/base.html' %}
{% block title %} Nosotros {% endblock title %}
{% block anyheadimport %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/card.css"/>
{% endblock anyheadimport %}
    {% block content %}

		<!-- Ficha "1" -->
        <div class="col-lg-12">
            <h1>Titulo</h1>
            <p>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            </p>
            <img class="col-md-6 imagen img-responsive center-block" src="http://www.freephotoediting.com/samples/add-to-remove-from-group/images/054_pair-of-doves-flying-above-grasslands.jpg"/>
            <div class="col-md-6">
                <div class="col-md-12 ad-like-message globe" style="margin-top:12%;word-wrap:break-word;">
                    <h1>Titulo</h1>
                    <p>
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </p>
                </div>
            </div>
                <p>
                    .................................................
                    .................................................
                </p>
        </div>

        <!-- Ficha "2" -->
        <div class="col-lg-12">
            <h1>Titulo</h1>
            <p>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            </p>
            <img class="col-md-6 imagen img-responsive center-block" src="http://www.freephotoediting.com/samples/add-to-remove-from-group/images/054_pair-of-doves-flying-above-grasslands.jpg"/>
            <div class="col-md-6">
                <div class="col-md-12 ad-like-message globe" style="margin-top:12%;word-wrap:break-word;">
                    <h1>Titulo</h1>
                    <p>
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </p>
                </div>
            </div>
                <p>
                    .................................................
                    .................................................
                </p>
        </div>

        <!-- Ficha "3" -->
        <div class="col-lg-12">
            <h1>Titulo</h1>
            <p>
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            </p>
            <img class="col-md-6 imagen img-responsive center-block" src="http://www.freephotoediting.com/samples/add-to-remove-from-group/images/054_pair-of-doves-flying-above-grasslands.jpg"/>
            <div class="col-md-6">
                <div class="col-md-12 ad-like-message globe" style="margin-top:12%;word-wrap:break-word;">
                    <h1>Titulo</h1>
                    <p>
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </p>
                </div>
            </div>
                <p>
                    .................................................
                    .................................................
                </p>
        </div>

    {% endblock content %}
{% block scriptimport %}
{% endblock scriptimport %}