			/*Estilos Ficha*/
			.Ficha .imagen{
				border-style: solid;
				border-width: 2px;
				border-color: #eee;
                border-radius:20px;
			}

			.Ficha .descripcion{
			    word-wrap: break-word;
			}

            /*Estilos paginador*/
            /*Paginador_Azul*/
            .Paginador_Azul{
                cursor:pointer;
                background-image:url("../../static/img/Paginador_SVG.svg");
                color:#eee;
                -webkit-animation: Paginador_init 1s; /* Chrome, Safari, Opera */
                animation: Paginador_init 1s;
                background-size:cover;
                background-repeat:round;
            }
            .Paginador_Azul:hover{
                background-image:url("../../static/img/Paginador_SVG_hover.svg");
                color:black;
            }

            /*Paginador_Blanco*/
            .Paginador_Blanco{
                cursor:pointer;
                background-image:url("../../static/img/Paginador_SVG_hover.svg");
                color:black;
                -webkit-animation: Paginador_init 1s; /* Chrome, Safari, Opera */
                animation: Paginador_init 1s;
                background-size:cover;
                background-repeat:round;
            }
            .Paginador_Blanco:hover{
                background-image:url("../../static/img/Paginador_SVG.svg");
                color:#eee;
            }


            /*Estilos generales para Paginador*/
            .Paginador .titulo{
                text-align:center;
                font-size:36px;
            }
            .Paginador .titulo span{
                vertical-align:middle;
            }


             /* Chrome, Safari, Opera */
            @-webkit-keyframes Paginador_init{
                0% { -webkit-transform: rotateY(90deg); }
            }

            @keyframes Paginador_init {
                0% { -webkit-transform: rotateY(90deg); transform:rotateY(90deg); }
            }

